body {
  background-image: url(https://www.nasa.gov/images/content/54345main_ic1396_highres.jpg);
  color: lightgray;
  font-family: monospace;
  font-weight: bolder;
  font-size: 1.4em;
}

.jumbotron {
background-color: rgba(50, 50, 50, 0.6);
}

.panel {
  background-color: rgba(50, 50, 50, 0.6);
  margin-top: 5%;
}
